.center {
    text-align: center;
}

.left{
    text-align: left;
}

.space-between{
    display: flex;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
}

.timesheet-headers{
    display: flex;
    justify-content: flex-start;
}

.timesheet-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}