.center {
    text-align: center;
}

.left{
    text-align: left;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
}

.timesheet-headers{
    display: flex;
    justify-content: flex-start;
}

.timesheet-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.min-width-300 {
    min-width: 300px;
}

.width-400 {
    width: 400px;
}

.hidden {
    display: none
}

.navbar{
    background-color: 	#442416;
}

.btn-primary {
    background-color: #fcc30f;
    color: 	#442416;
    border-color: white;
    &:hover, &:active, &:focus, &:active:focus {
        background-color: #CEAD00;
        color: 	#442416;
        border-color: white;
    }
}

.btn-info {
    background-color: #FFD700;
    color: 	#442416;
    border-color: white;
    &:hover, &:active, &:focus, &:active:focus {
        background-color: #fcc30f;
        color: 	#442416;
        border-color: white;
    }
}

a, .btn-link{
    color: #B29600;
    &:hover, &:active, &:focus {
        color: #A08700;
    }
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: white;
    &:hover {
        color: #CEAD00;
    }
}
